<section class="comments" style="display: block;">
	<section id="comments" class="commentheader gotocomments">
		<div class="wrapper">
			<span class="commenttitle" data-locale-comments="Comments">Brands</span>
		</div>
	</section>
	<section class="commentitems">
		<div class="wrapper">
			<div id="disqus_thread"></div>
		</div>
	</section>
</section>
<footer class="main">
	<section class="widget copyright">
		<p class="main">
			Copyright &copy; Highwood Design Limited 2020
		</p>
		<ul class="nav-items">
			<li class="nav-item nav-privacy-policy">
				<a href="{% link privacy.markdown %}">Privacy Policy</a>
			</li>
			<li class="nav-item nav-terms-of-service">
				<a href="{% link terms.markdown %}">Terms of Service</a>
			</li>
			<li class="nav-item nav-terms-of-service">
				<a href="{% link cookies.markdown %}">Cookies</a>
			</li>
		</ul>
		<p class="alt">
			<span class="ghost">All rights reserved</span>
		</p>
	</section>
	<ul class="social">
		<li>
			<a class="social-item" href="mailto:test" rel="noopener noreferrer" target="_blank" title="Email">
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</a>
		</li>
		<li>
			<a class="social-item" href="https://www.facebook.com/highwooddesign" rel="noopener noreferrer" target="_blank" title="Facebook">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
		</li>
		<li>
			<a class="social-item" href="https://www.linkedin.com/company/highwooddesign" rel="noopener noreferrer" target="_blank" title="LinkedIn">
				<i class="fa fa-linkedin" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
</footer>