<section class="cover front" data-height="100">
    <div class="background" style="background-image:url({{ "/assets/img/header.jpg" | relative_url }});"></div>
    <section class="blogtitle wrapper">
        <a href="{% link index.markdown %}" class="logo">
            <img src="/assets/img/logo.png" class="retina" alt="Highwood Design Limited" width="100">
        </a>
        <p class="description">Highwood Design Limited is a software development company based in the United Kingdom. We handle subscription payments for several open source projects.</p>
        <hr>
    </section>
    <div class="mouse">
        <div class="scroll"></div>
    </div>
</section>