.widget {
	padding: 35px 0 0
}

.widget hr {
	display: none;
	width: 20%;
	height: 1px;
	margin: 0;
	border: 0;
	background: #000
}

.widget p {
	font-family: "Oxygen", "Arial", Sans-Serif;
	font-size: 15px;
	line-height: 33px;
	color: #737679
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.widget li a {
	font-family: "Montserrat", "Arial", Sans-Serif;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	padding: 5px 0 5px 0;
	letter-spacing: -0.5px;
	color: #8b8b8b
}

.widget li a:hover {
	color: #4f4f4f
}

.widget input,
.widget select,
.widget button {
	max-width: 100%
}

.widget li:last-child a {
	margin-bottom: 0;
	padding-bottom: 0
}

.widget:after {
	display: block;
	clear: both;
	width: 20%;
	height: 1px;
	margin-top: 35px;
	content: '';
	background: #ececec
}

.widget.social {
	padding: 35px 0 0
}

.widget.social:after {
	margin-top: 25px
}

.widget.copyright .main {
	font-family: "Varela Round", "Arial", Sans-Serif;
	font-size: 13px;
	line-height: normal;
	margin: 0 0 5px;
	letter-spacing: -0.5px;
	color: #505357
}

.widget.copyright .main a {
	color: #505357
}

.widget.copyright .main a:hover {
	color: #333538
}

.widget.copyright .alt {
	font-family: "Montserrat", "Arial", Sans-Serif;
	font-size: 12px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	letter-spacing: -0.5px;
	color: #71767b
}

.widget.copyright .alt a {
	color: #71767b
}

.widget.copyright .alt a:hover {
	color: #797979
}

.brands {
	display: none;
	clear: both;
	margin-bottom: 0
}

.brandheader {
	font-family: "Varela Round", "Arial", Sans-Serif;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	padding: 30px 0;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	color: #373737;
	border-top: 1px solid #eee;
	background: #f6f6f6
}

.brandheader .hwdmediashare {
    background-image: url("/assets/img/brand-hwdmediashare-gs.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
	height: 150px;
	display: inline-block;
}

.brandheader .hwdmediashare:hover {
    background-image: url("/assets/img/brand-hwdmediashare.png");
}